<table border="1" id="users-table">
  <thead>
    <td>Name</td>
    <td>Username</td>
    <td>E-mail</td>
    <td>Address</td>
  </thead>
  {{#each model as |users|}}
    {{user-row users=users shouldLink=true}}
  {{/each}}
</table>
