{{#link-to 'index'}}Back{{/link-to}}

<table border="1" id="users-table">
  <thead>
    <td>Name</td>
    <td>Username</td>
    <td>E-mail</td>
    <td>Address</td>
  </thead>
  {{user-row users=model shouldLink=false}}
</table>
